*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    box-sizing: border-box;
}

#header-icon{
    background: url(../images/headerIcon.jpg) no-repeat center center;
    background-size: contain;
    width: 13%;
    height: 100px;
    margin-left: 43.5%;
    margin-right: 43.5%;
    margin-top: 60px;
    margin-bottom: 40px;
}

nav{
    width: 32%;
    margin-left: 34%;
    margin-right: 34%;
    margin-bottom: 40px;
}
#navbar {
    list-style: none;
}

#navbar-items{
    display: inline-block;
    padding: 3%;
}

#navbar-items a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold;
}

#navbar-items a:hover{
    color: red;
}

#header-bg-img{
    background: url(../images/headerBg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 575.4px;
    position: relative;
}

#tag-head{
    width: 200px;
    height: 20px;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    font-family: Engravers MT;
    font-weight: bold;
    position: absolute;
    left: 70%;
    top: 15%;
}

#tag-description{
    width: 380px;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    left: 70%;
    top: 35%;
    color: white;
}

#tag-more{
    width: 200px;
    background-color: rgb(240, 1, 1);
    border-style: none;
    color: white;
    height: 70px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    left: 70%;
    top: 65%;
}

#tag-more:hover{
    background-color: red;
}
section{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    box-sizing: border-box;
}

#tridev{
    border: 2px solid black;
    width:300px;
    height: 300px;
    display: inline-block;
    margin-left: 47px;
    text-decoration: none;
}

img{
    width: 300px;
}
#section-img-des{
    font-size: 20px;
    font-family: Engravers MT;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

footer{
    width: 100%;
    background-color: black;
    height: 100px;
    padding-top: 20px;
    box-sizing: border-box;
}
#copyright{
    color: white;
    font-family: sans-serif;
    margin-left: 20%;
    float: left;
    padding-top: 25px;
}
#social{
    width: 20%;
    height: 60px;
    float: left;
    margin-left: 25%;
}

#twitter, #facebook, #google, #pintrest{
    display: inline-block;
    width: 20%;
    height: 100%;
    margin-left: 2%;
}

#twitter{
    background: url(../images/icons/icon-twitter.jpg) no-repeat center center;
    background-size: cover;
}

#facebook{
    background: url(../images/icons/icon-facebook.jpg) no-repeat center center;
    background-size: cover;

}

#google{
    background: url(../images/icons/icon-googleplus.jpg) no-repeat center center;
    background-size: cover;

}

#pintrest{
    background: url(../images/icons/icon-pinterest.jpg) no-repeat center center;
    background-size: cover;
}

#twitter:hover{
    background-image: url(../images/icons/icon-twitter-hover.jpg);
}

#facebook:hover{
    background-image: url(../images/icons/icon-facebook-hover.jpg);
}

#google:hover{
    background-image: url(../images/icons/icon-googleplus-hover.jpg);
}

#pintrest:hover{
    background-image: url(../images/icons/icon-pinterest-hover.jpg);
}